:root {
  --gap-size: 24px;
  --edge-gap: 72px;
}

.edge-container { margin: 0 var(--edge-gap); }
.expanding-cards {}
.expanding-cards-wrapper {
  display: flex;
  align-items: center;
}

.expanding-cards-container {
  flex-grow: 1;
  display: flex;
  gap: var(--gap-size);
}

.expanding-card {
  animation: fadeUp 2s ease forwards;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  min-width: 10vh;
  height: 70vh;
  background-color: #000;
  cursor: pointer;
  transition: all ease 640ms;
  img {
    position: absolute;
    width: 110%;
    height: 110%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    object-fit: cover;
    opacity: 0.32;
    transition: all ease 600ms;
    pointer-events: none;
  }
  &:hover {
    transform: translateY(-16px);
    img {
      opacity: 0.56;
    }
  }
  &.active {
    flex-grow: 6;
    img {
      width: 100%;
      height: 100%;
      opacity: 1;
    }
    &:hover {}
  }
}

@keyframes fadeUp {
  from{
    opacity: 0;
    filter: blur(20px);
  }
  to {
    opacity: 1;
    filter: blur(0)
  }
}
