.details-body {
  --angle: -45;
  --duration: 1000;
  --delay: 400;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #020618;
  color: #f8fafc;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
  &::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #7157F9;
    width: 400vw;
    height: 100vh;
    top: 0;
    left: 50%;
    z-index: 50;
    transform: skewX(var(--angle)deg) translateX(-100%) scaleX(0);
    will-change:transform;
    animation: revealBG 2s ease forwards;
  }
}

.Title {
  font-family: "Gilroy ExtraBold", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 3rem;
  opacity: 0;
  transform: translate(0%, 150%) matrix(1, 0, 0, 1, 0, 0);
  will-change: opacity, transform;
  z-index: 100;
  animation: revealText 1000ms cubic-bezier(0.7, 0, 0.3, 1) forwards 400ms;
}

@keyframes revealBG {
  0% { transform: skewX(-45deg) translateX(-100%) scaleX(0); }
  100% { transform: skewX(-45deg) translateX(-100%) scaleX(1); }
}

/*@keyframes revealBG {*/
/*  0% { transform: skewX(-45deg) translateX(-100%) scaleX(0); }*/
/*  20% { transform: skewX(-45deg) translateX(-100%) scaleX(1); }*/
/*  70% { transform: skewX(-45deg) translateX(-100%) scaleX(1); }*/
/*  90% { transform: translateX(-50%) scaleX(1);}*/
/*  100% { transform: translateX(-100%) scaleX(0);}*/
/*}*/


@keyframes revealText {
  from { opacity: 0; transform: translate(0%, 100%) matrix(1, 0, 0, 1, 0, 0); }
  to   { opacity: 1; transform: translate(0%, 0%) matrix(1, 0, 0, 1, 0, 0); }
}

.position-title {
  width: 100%;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1vw;
  font-size: 2rem;
}

.position-title span {
  color: #f7ca18;
}

.position-title-underscore{
  position: relative;
  border-bottom: 5px solid #f7ca18;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 15px;
}

.fake-bg{
  background-color: #020618;
}

.cursive{
  font-family: "Kaushan Script", cursive;
  font-style: normal;
  font-weight: normal;
}
