.group {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.item {
  height: 70vh;
  background-position: center;
  background-size: 70vh;
  margin: 1vw;
  border-radius: 3vw;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}

.cover {
  border-radius: 3vw;
}
